
@if (TempData["ToastMessage"] != null)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         data-delay="@(TempData["ToastDuration"] ?? 5000)">
        <div class="toast-header">
            <strong class="mr-auto">@(TempData["ToastTitle"] ?? "Notification")</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body @TempData["ToastType"]">
            @TempData["ToastMessage"]
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
}
